<div class="col s12 tag-div">
  <div class="lecturer-category">
    <h4> Lead Lecturer</h4>
  </div>
  <div class="user-pic center-align">
    <a href="{{site.linkedin_profile_am}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/am.png"></a>
  </div>
  <div class="user-intro center-align">
    <h5 class="hidden">Dr. Alastair Moore</h5>
  </div>
  <div class="user-content">
    <p>
      Alastair is an experienced manager and entrepreneur who has worked in large and small organisations. He is a UCL Computer Science PhD with a background in analytics, machine learning, business strategy and early stage tech innovation.
    </p>
    <p>
      He has broad experience of applied Business Intelligence, Data Mining, Machine Learning and Statistical Analysis in a variety of settings. His background includes stints with corporate research, internet startups and universities. He was on the found team on spin-out Satalia.com (Data Science) and venture backed WeArePopUp.com (Real Estate) and helped setup the IDEALondon innovation centre with Cisco Systems.
    </p>
    <p>
      Previous projects include helping set up IDEALondon innovation centre at the heart of TechCity with Cisco. He has served as a member of the Special Group for Entrepreneurship for the British Computer Society and has mentored at the Wayra Academy, Techstars London & Startupbootcamp. In recent years he has been involved in helping design and administer innovation and startup support programmes, most recently at UCL’s Centre for Entrepreneurship. He continues to work with startups at IDEALondon and MDRLabs on business acceleration, and advises a number of larger companies on innovation and technology.
    </p>
    <p>
      Alastair continues to maintain an active teaching role in the UCL School of Management (Predictive systems) and the Judge Business School, Cambridge (Proptech). His research interests include technology strategy, Blockchain, smart contracting and computational law.
    </p>
  </div>
  <br style="margin-bottom:500px;"/>
  <div class="lecturer-category">
    <h4> Assistant Lecturer</h4>
  </div>
  <div class="user-pic center-align">
    <a href="{{site.linkedin_profile_js}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/js.png"></a>
  </div>
  <div class="user-intro center-align">
    <h5 class="hidden">Jiangbo Shangguan</h5>
  </div>
  <div class="user-content">
    <p>
      Jiangbo is the assistant lecturer.
    </p>
</div>
