<div class="col s12 tag-div">
  <div class="tag-list">
    {% for item in site.reading_list %}
    <a class="tag-chip" href="#{{item.tag}}_cap"><div class="chip z-depth-1">{{item.tag}}</div></a>
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="tag-index">
    {% for item in site.reading_list %}
    <h5 id="{{item.tag}}_cap">{{item.tag}}</h5>
    <ul class="tag-post">
      {% for posts in item.content %}
      <a class="post-title" href="{{posts.link}}" target="_blank">
        <li>
          {{posts.name}}
        </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
